.hero {
	max-width: 1600px;
	height: 600px;

	background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(/imeges/hero.jpg);
	background-color: #2f303a;
	background-position: center;

	text-align: center;
	padding-top: 180px;
	padding-bottom: 220px;
	margin-left: auto;
	margin-right: auto;

	&-block {
		@extend %container;
	}
	&__title {
		color: $whiteColor;

		margin-top: 0;
		margin-bottom: 30px;
		font-style: normal;
		font-weight: 900;
		font-size: 44px;
		line-height: 1.36;

		letter-spacing: 0.06em;
		text-transform: uppercase;
	}
}
